*.suo
*.db
*.ipch
*.obj
*.log
*.exe
*.recipe
*.ilk
*.pdb
*.tlog
*.lastbuildstate
*.idb
/Chapter 10 Blending/BlendDemo/.vs/BlendDemo/v16/Browse.VC.db-shm
/Chapter 10 Blending/BlendDemo/.vs/BlendDemo/v16/Browse.VC.db-wal
/Chapter 10 Blending/BlendDemo/.vs/BlendDemo/v16/Browse.VC.opendb
/Chapter 7 Drawing in Direct3D Part II/Shapes/.vs/Shapes/v16/Browse.VC.db-shm
/Chapter 7 Drawing in Direct3D Part II/Shapes/.vs/Shapes/v16/Browse.VC.db-wal
/Chapter 7 Drawing in Direct3D Part II/Shapes/.vs/Shapes/v16/Browse.VC.opendb
/Chapter 10 Blending/BlendDemo/x64/Debug/BlendDemo.vcxproj.FileListAbsolute.txt
/Chapter 7 Drawing in Direct3D Part II/Shapes/x64/Debug/Shapes.vcxproj.FileListAbsolute.txt
